/* ----------------------pi---------------------- */
#pie{
    overflow: auto;
    margin-bottom: 40px;
}




/* ----------------------list--------------------- */
.list{
    float: left;
    width: 160px;
    /* margin-right: 20px; */
}
.list h4{
    margin-bottom: 30px;
    font-size: 0.9em;
    font-weight: 800;
}
.list li{
    font-size: 0.8em;
    line-height: 25px;
    list-style-type: none;
}
.list span{
    color:#e6635c ;
    margin-right: 5px;

}








/* ----------------------pi-chart--------------------- */

#pie-chart{
    overflow: auto;
    display: block;
    /* text-align: left; */
    width: 600px;
    transform: scale(0.9);
    margin-right: 0px;
    float: right;
}
#pie-chart>p{
    padding: 0 20px;
    font-size: 0.8em;
    line-height: 20px;
    margin-bottom: 40px;
}
#pie-chart>p>a{
    color:#e6635c ;
}
#pie-chart section{
    margin: 10px;
    position: relative;
    display: block;
    width: 130px;
    float: left;
}

#pie-chart .back{
    background-color: #6ecac5;
    width: 130px;
    height: 65px;
    border-radius: 65px 65px 0 0;
    margin-bottom: 25px;
}



#pie-chart .filler{
    width: 65px;
    height: 65px;
    background-color: #e0524d;
    position: absolute;   
    top:0;
    border-radius: 65px 0 0 0;
}



#pie-chart .cover{
    background-color: white;
    width: 100px;
    height: 50px;
    border-radius: 50px 50px 0 0;
    position: absolute;
    top: 15.5px;
    left: 15px;
    
}
#pie-chart .cover p{
    line-height: 75px;    
    font-size: 2em;    
}

#pie-chart .fill70{        
    transform:rotate(47.5deg);
    transform-origin: 65px 65px;    
}

#pie-chart .fill80{    
    transform:rotate(54deg);
    transform-origin: 65px 65px;    
}

#pie-chart .fill100{
    width: 130px;
    border-radius: 65px 65px 0 0;    
}

#pie-chart .txt{
    font-weight: 900;
    color: #7e8688;
    font-family: sans-serif;
    text-transform: uppercase;
    text-align: center;
}



/* ----------------------Div--------------------- */
#pie>div:nth-of-type(1){
    float: right;
    width: 200px;
    display: block;
}
#pie>div:nth-of-type(1)>h4{
    margin-bottom: 30px;
    font-size: 0.9em;
    font-weight: 800;
}
#pie>div:nth-of-type(1)>p{
    font-size: 0.8em;
    line-height: 25px;
    font-style: italic;
    background-color: rgb(250, 250, 250);
    padding: 10px;
}
#triangle{
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-top: 25px solid rgb(250, 250, 250);
    margin-left: 30px;
}
#pie>div:nth-of-type(1)>span{
    margin-left: 60px;
}


/* ----------------------Pie Animation & hover--------------------- */
@keyframes pie50-filler {
    0%{}
    50%{transform: rotate(90deg);}
}
#pie-chart>section:nth-of-type(1):hover div:nth-of-type(2){
    animation: pie50-filler 2s;
    transform-origin:65px 65px ;
}




@keyframes pie70-filler {
    0%{}
    50%{transform: rotate(42.5deg);}
}
@keyframes pie70-fill70 {
    0%{}
    50%{transform: rotate(90deg);}
}
#pie-chart>section:nth-of-type(2):hover div:nth-of-type(2){
    animation: pie70-filler 2s;
    transform-origin:65px 65px ;
}
#pie-chart>section:nth-of-type(2):hover div:nth-of-type(3){
    animation: pie70-fill70 2s;
    transform-origin:65px 65px ;
}




@keyframes pie80-filler {
    0%{}
    50%{transform: rotate(36deg);}
}
@keyframes pie80-fill80 {
    0%{}
    50%{transform: rotate(90deg);}
}
#pie-chart>section:nth-of-type(3):hover div:nth-of-type(2){
    animation: pie80-filler 2s;
    transform-origin:65px 65px ;
}
#pie-chart>section:nth-of-type(3):hover div:nth-of-type(3){
    animation: pie80-fill80 2s;
    transform-origin:65px 65px ;
}



#pie-chart>section:hover p{
    color:#e6635c;
}